[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
qrcode = {extras = ["pil"], version = "*"}
gunicorn = "*"
python-barcode = "*"

[dev-packages]

[requires]
python_version = "3.13"
